<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.js"></script>
    <script type="text/javascript" src="static/app.js"></script>
  </head>
  <body>
    <h3 id="status">Status: Disconnected</h3>
    <p>Average connection latency: <b><span id="ping-pong"></span>ms</b></p>
    <div id="button-container">
      <button id="start-button">Start</button>
      <button id="stop-button">Stop</button>
      <span id="message" style="color:red"></span>
    </div>
    <div id="log-view">
  </body>
</html>
